# Virtual Environment
env/
venv/

# Django
*.sqlite3
__pycache__/
*.pyc

# ML Models
*.pth
*.ckpt

# Media files
*.mp4
*.wav
*.png

# Storage
storage/output/
storage/temp/

# Logs
logs/
*.log

# Outputs
outputs/

# Static
staticfiles/

# Env
.env